#------------------------------------------------------------------

# ex : DISCOVERY_URL=https://hyperauth.tmaxcloud.org/auth/realms/tmax
# ex : CLIENT_SECRET=e720562b-e986-47ff-b040-9513b91989b9
# ex : CUSTOM_DOMAIN_NAME=tmaxcloud.org

# ex : REGISTRY=172.22.6.2:5000

#------------------------------------------------------------------

DISCOVERY_URL={DISCOVERY_URL}
CLIENT_SECRET={CLIENT_SECRET}
CUSTOM_DOMAIN={CUSTOM_DOMAIN}

REGISTRY={REGISTRY}
